.hero {
    text-align: center;
    padding: 80px 20px;
}

.glow {
    font-weight: 800;
    color: #111; /* 黑色主体 */
    font-size: 8.5rem;
    text-shadow:
            0 0 4px #16a34a,
            0 0 8px #22c55e,
            0 0 12px #22c55e;

    animation: glowPulse 2.5s ease-in-out infinite;
}

:global(.dark) .glow {
    color: #f0f0f0;
}

/* 发光动画 */
@keyframes glowPulse {
    0% {
        text-shadow:
                0 0 4px #16a34a,
                0 0 8px #22c55e,
                0 0 12px #22c55e;
    }
    50% {
        text-shadow:
                0 0 1px #16a34a,
                0 0 3px #22c55e,
                0 0 6px #22c55e;
    }
    100% {
        text-shadow:
                0 0 4px #16a34a,
                0 0 8px #22c55e,
                0 0 12px #22c55e;
    }
}


/* 移动端优化 */
@media (max-width: 768px) {
    .glow {
        font-size: 2.4rem;
    }

    .hero {
        padding: 60px 16px;
    }
}
